<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    
    <div class="card card-body" style="margin-top: 2em;">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
          <h4><strong id="current-user-posts-count"><%= @user.microposts.count %> </strong><%= t("home.microposts")%></h4>
        </h1>
      </section>
      <hr>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <% if logged_in? %>
        <hr>
        <%= render 'follow_form' %>
        <% if current_user == @user %>
          <%= link_to t("home.new_post"), new_micropost_path, class: "btn btn-success btn-block", style: "margin-bottom: 15px;"%>
        <% end %>
      <% end %>
    </div>

    <div class="card my-4">
      <div class="card-body">
        <div class="input-group">
          <%= form_tag microposts_path, method: :get, class: "input-group" do %>
            <%= text_field_tag 'term', params[:term], placeholder: t("search.holder"), class:"form-control" %>
            <span class="input-group-btn">
            <%= button_tag t("home.search"), class: "btn btn-secondary ml-2" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </aside>

  <div class="col-md-8">
    <h1 class="my-4"><%= t "home.posts" %></h1>
    <% if @user.microposts.any? %>
      
      <%= render @microposts %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>