<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <h4><strong id="current-user-posts-count"><%= @user.microposts.count %> </strong><%= t("home.microposts")%></h4>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      
      <%= render @microposts %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>