<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("home.compose_new_post") %>
  </div>
  <div class="field">
    <table class="table table-borderless">
      <tbody>
      <%= f.fields_for :pictures do |picture| %>
        <%= render 'shared/picture_fields', f: picture %>
      <% end %>
      </tbody>
    </table>
    <%= link_to_add_association (t "add_a_photo"), f, :pictures, partial: 'shared/picture_fields', class: "btn btn-default" %>
  </div>

  <%= f.submit t("home.post"), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
  $('a.add_fields').data('association-insertion-method', 'append')
  $('a.add_fields').data('association-insertion-node', 'table.table-borderless tbody')

</script>